body{
    margin: 0;
}

/*menu*/

menu{
    background-color: #ff511d;
    padding: 10px;
    margin: 0;
    text-align: center;
    margin: 10px auto 0;
    width: 750px;
    height: 40px;
    border-radius: 20px;
    font-size: 30px;
}

menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    align-content: center;
}

menu li{
    display: inline-block;
}

menu li .active{
    font-weight: bold;
    color: black;
}

/*pseudoselector de menu*/
menu a:hover{
    background-color: goldenrod;
    font-weight: bold;
}

/*header*/
header{
    background-size: cover;
    background-position: center;
}

/*inicio*/
.inicio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Arial", sans-serif;
}

/*galeria*/
.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Arial", sans-serif;
}

/*contacto*/
.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Arial", sans-serif;
}